


* {
    margin: 0;
    padding: 0;
  }



  .hidden1 {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 2s ease-in-out, transform 0.3s ease-in-out;
  }

body{
    background-color: black;
}

 
  .link-with-underline {
    position: relative;
  }
  
  .link-with-underline::after {
    content: ''; 
    position: absolute; 
    bottom: -5px; 
    left: 0; 
    width: 0; 
    height: 3.5px;
    background-color: white; 
    transition: width 0.5s ease;
    border-radius: 5px;
  }
  
  .link-with-underline:hover::after {
    width: 50%;
    background-color:#E9204F;
  }
  
  .link-with-underline-home {
    position: relative;
  }
  .link-with-underline-home::after {
    content: ''; 
    position: absolute; 
    bottom: -5px; 
    left: 0; 
    width: 50%; 
    height: 3.5px;
    background-color: #E9204F; 
    border-radius: 5px;
    
  }
  
  #overlay {
    display: none; /* Başlangıçta overlay gizli olacak */
    transition: opacity 0.5s ease-in-out; /* Opaklık geçiş efekti */
    opacity: 0; /* Başlangıçta overlay'in opaklığı sıfır olacak */
  }
  
  #overlay.show {
    display: flex; /* Overlay görünür hale gelecek */
    opacity: 1; /* Overlay tamamen opak olacak */
  }
 
  #outerDiv:hover #svgPath {
    transition: 1s ease-in-out;
    stroke: white;
  }
  


  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
  }





  .btn:hover #button-text {
    transition: 0.7s ease-in-out; 
    transform: translateX(80px); 
    color: white;
}


.btn:hover #first-svg-container {
    transition: 0.7s ease-in-out;
    transform: translateX(20px) scale(2.5);
    visibility: visible;
    opacity: 0.5;
}


.btn:not(:hover) #first-svg-container {
    .btn:not(:hover) #first-svg-container {
        transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out; 
        transform: translateX(0);
        opacity: 0;
    }
}

.btn:hover #second-svg {
    transition:0.7s ease-in-out ;
    transform: translateX(30px); 
    stroke: white;
}

.btn:not(hover) #button-text {
    transition: 0.7s ease-in-out; 
    transform: translateX(px); 
    color:  black; 
}

.btn:not(hover) #second-svg {
    transition: transform 0.7s ease-in-out, stroke 0.7s ease-in-out; 
    transform: translateX(0);
    stroke: #747474; 
}



.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s, filter 0.5s;
}

.slide:hover img {
  transform: scale(1.1);
  filter: none;
}



