


* {
    margin: 0;
    padding: 0;
  }



  .hidden1 {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 2s ease-in-out, transform 0.3s ease-in-out;
  }

body{
    background-color: black;
}

 
  .link-with-underline {
    position: relative;
  }
  
  .link-with-underline::after {
    content: ''; 
    position: absolute; 
    bottom: -5px; 
    left: 0; 
    width: 0; 
    height: 3.5px;
    background-color: white; 
    transition: width 0.5s ease;
    border-radius: 5px;
  }
  
  .link-with-underline:hover::after {
    width: 50%;
    background-color:#E9204F;
  }
  
  .link-with-underline-home {
    position: relative;
  }
  .link-with-underline-home::after {
    content: ''; 
    position: absolute; 
    bottom: -5px; 
    left: 0; 
    width: 50%; 
    height: 3.5px;
    background-color: #E9204F; 
    border-radius: 5px;
    
  }
  
  #overlay {
    
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
  }
  
  #overlay.show {
    transform: translateX(0);
  }
 
  #outerDiv:hover #svgPath {
    transition: 1s ease-in-out;
    stroke: white;
  }
  



 